extends layout

block content
  div.container

    table.table.table-striped(data-toggle="table",data-filter-control=true)
      thead
        tr 
          th(data-field="name" data-filter-control="input") name
          th item
          th date
      tbody.table-striped
        each log in news
          tr
            td
              p=log.characterName
            td
              a(href="http://www.wowhead.com/item=" + log.itemId, rel="bonus=" + log.bonusListsFormattedWowhead ).q3=log.itemId 
            td
              p=log.friendlyDate
