html
  head
    title= title
    script.
      var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true };
    link(rel="stylesheet",href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' )  
    link(rel="stylesheet",href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css' )  
    link(rel="stylesheet",href='main.css' )  

    script(type='text/javascript',src='https://code.jquery.com/jquery-3.1.1.min.js' )
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js' )
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' )
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js' )

    script(type='text/javascript' src='https://wow.zamimg.com/widgets/power.js')

  body
    include header
    div.container
      block content